button {
    background-color: rgb(71, 124, 23);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    min-width: 50px;
    transition: all 100ms ease-in-out;
}

h1 {
    display: center;
    text-align: center;
}
.addComand{ 
    text-align: center;
    align-items: center;
    margin-top: 8%;
    /* margin-left: 34%; */
}
